.hospital-page {
  padding-top: 100px; /* To avoid content hiding behind fixed NavBar */
}

.hospital-search-container {
  margin-bottom: 40px;
  margin-left: 500px;
  
  max-width: 250px;
}

.hospital-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
