.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Adjust the gap between cards */
}

.section {
  margin-bottom: 2rem; /* Adds space between sections */
}

.section h1 {
  margin-bottom: 1rem; /* Adds space between the header and the card list */
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 1rem;
  width: calc(23% - 1rem); /* Adjust the width of the card */
  box-sizing: border-box;
  margin-left: 75px;
}

.card-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.card-icon img {
  max-width: 100%;
  height: auto;
}
