.specialist-page {
  padding-top: 100px; /* To avoid content hiding behind fixed NavBar */
}

.specialist-search-container {
  margin-top: 20px;
  max-width: 600px; /* Adjusted max-width to make the search bar bigger */
  margin: 0 auto;
}

.specialist-list {
  display: flex;
  flex-direction: column; /* Display cards in a row */
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px; /* Adjust width as needed */
  margin: 0 auto;
}

