.event-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.slide-show-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 50vh;
}

.slide-show-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-size: 2rem;
  color: var(--midnight-green);
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  color: var(--eerie-black);
  line-height: 1.5;
}
