.home-des {
  padding: 20px;
}

.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.intro-text {
  max-width: 60%;
}

.intro-text h1, .intro-text h2, .intro-text p {
  margin: 10px 0;
}

.intro-image img {
  max-width: 300px;
  height: auto;
}
