.hospital-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .hospital-file ul {
    list-style-type: none;
    padding: 0;
  }
  
  .hospital-file li {
    padding: 10px;
    font-size: 18px;
  }
  