.-header {
 
    padding:  0px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(10, 10, 60, 0.1);
    align-items: center;
    padding: 15px 40px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  .nav-actions {
    display: flex;
    align-items: center;
  }
  
  .cart-button,
  .login-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .cart-button {
    background-color: #fff;
    color: #000;
  }
  