.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.admin-box {
  width: 320px;
  padding: 30px;
  text-align: center;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  animation: fadeIn 1s ease-in-out;
}

.admin-title {
  margin-bottom: 10px;
  font-size: 1.8em;
  color: #333;
}

.admin-subtitle {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #777;
}

.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  transition: border-color 0.3s;
}

.admin-input:focus {
  border-color: #007bff;
  outline: none;
}

.admin-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, transform 0.2s;
}

.admin-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  50% {
    border-color: #007bff;
  }
}

.admin-input:focus {
  animation: blink 1s infinite;
}
