.doctor-section {
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
  }
  
  .doctor-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--midnight-green);
  }
  
  .doctor-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .doctor-card {
    background-color: var(--white);
    border-radius: var(--radius-12);
    padding: 10px; /* Reduce padding to make the card smaller */
    box-shadow: 0 4px 10px rgba(10, 10, 60, 0.1);
    flex: 1;
    text-align: center;
  }
  
  .doctor-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .doctor-card p {
    font-size: 1rem;
    color: var(--eerie-black);
  }
  