.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px 20px; /* Increase padding for a bigger input box */
  font-size: 18px; /* Increase font size */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
